* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: #F7F7F7;
}
header {
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 1;
}
nav {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    background-color: white;
    z-index: 1;

}
.logo {
    width: 30px;
    height: 30px; 
    background-color: white;
    border-radius: 50%;
    border: 10px solid black;
    margin-top: 20px;
    margin-left: 20px;
}
ul {
    display: flex;
}
ul li {
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 20px;
    line-height: 15px;
    font-weight: bold;
}
ul li:first-child::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: black;
    margin-left: 10px;
}
ul li:nth-child(2)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: black;
    margin-left: 10px;
}
ul li:nth-child(3)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: black;
    margin-left: 10px;
}
ul li:hover {
    border-bottom: 2px solid black;
}
.bigfoto {
    width: 100%;
    height: 700px;
}
a {
    color: rgba(0, 0, 0, 0.719);
}
.paragraphsection1 {
    width: 100%;
}
.BRUXELLES {
    margin-left: 100px;
    margin-top: 40px;
}
h1 {
    letter-spacing: 6px;
    font-size: 35px;
}
.THEMATIQUE-GROS {
    width: 240px;
    height: 30px;
    margin-top: 70px;
}
.THEMATIQUE {
    display: inline-block;
    font-size: 12px;
    padding: 15px 15px 15px 0;
}
.GROS {
    display: inline-block;
    font-size: 13px;
    background-color: #0865DE;
    color: white;
    width:120px ;
    height: 30px;
    text-align: center;
    letter-spacing: 0.7px;
    padding: 10px 10px ;
}
.OUTILS-APP {
    width: 240px;
    height: 30px;
    margin-top: 40px;
}
.OUTILS {
    display: inline-block;
    font-size: 12px;
    padding: 15px 15px 15px 0;
}
.APP {
    display: inline-block;
    font-size: 13px;
    background-color:rgb(255, 255, 255) ;
    color: black;
    letter-spacing: 0.7;
    padding: 8px 15px;
}
.pharagrap-wrapper {
    width: 100%;
    display: inline-block;
    height: 600px;
    position: relative;
}  
.pharagraph-text {
    width: 50%;
    display: inline-block;
}
.des-liens {
    font-size: 27px;
    text-align: left;
    letter-spacing: 2px;
    margin-left: 80px;
    margin-top: 40px;
}
.initie {
    font-size: 24px;
    text-align: left;
    margin-left: 88px;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.648);
}
.terre-des-hommes {
    margin-left: 110px;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.422);
    font-size: 13px;
}
 
.terre-des-hommes span {
    margin-left: 70px;
    color: rgba(0, 0, 0, 0.434);
}
.terre-des-hommes a {
    margin-left: 80px;
    color: rgba(0, 0, 0, 0.463);
}
.lequipe {
    width: 35%;
    display: inline-block;
    position: absolute;
    margin-left: 130px;
    margin-top: 50px;
    background-color:white;
    height: 200px;
    border-radius: 4px;
}
.pharagraph-fotos img {
    width: 7%;
    height: 25px;
    border-radius: 30px;
    margin-top: 120px;
    margin-left: 70px;
}
.video-animation {
    position: absolute;
    background-color:#0865DE ;
    width: 160px;
    height: 150px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}
.video-p {
    font-size: 15px;
    margin-left: 8.8px;
    margin-top: 15px;
    text-align: center;
    color: white;
}
.conseiller {
    font-size: 10px;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
}
.bill-roy {
    font-size: 10px;
    margin-left: 40px;
    margin-top: 15px;
    color: white;
}
.lequipe h2 {
    margin-left: 10px;
    letter-spacing: 2px;
    position: absolute;
    margin-top: -40px;
    color: rgba(0, 0, 0, 0.758);
    margin-top: 60px;
    margin-left: 100px;
}
.pink {
    width: 70%;
    margin-left: 15%;
    margin-top: 100px;
}
.pink img {
    width: 100%;
    height: 500px;
    border-radius: 6px;
}
.PROJETS-RECENT {
    position: relative;
}
.PROJETS-RECENT-H3 {
    position: absolute;
    margin-left: 150px;
    margin-top: 100px;
    font-size: 14px;
}
.second-section {
}
.big-div {
    width: 100%;
    display: inline-block;
    margin-top: 200px;
    position: relative;
}
.lamurala {
    width: 30%;
    display: inline-block;
}
.design {
    width: 30%;
    display: inline-block;
    height: 500px;
}
.tringle {
    width: 30%;
    display: inline-block;
}
.lamurala img {
    width: 250px;
    height: 250px;
    margin-left: 170px;
}
.design img {
    width: 250px;
    height: 250px;
    margin-left: 120px;
}
.tringle img {
    width: 250px;
    height: 250px;
    margin-left: 70px;
}
.text-h3-p-p {
    position: absolute;
    margin-left: 170px;
    width: 250px;
    height: 150px;
    background-color:white;
    margin-top: -4px;
}
.text-h3-p-p h3 {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 13px;
}
.terre-des {
    margin-top: 15px;
    font-size: 13px;
    margin-left: 15px;
}
.website-app {
    margin-top: 15px;
    font-size: 11px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.505);
}
.text-h3-p-p img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 10px;
}
.voir-le {
    font-size: 13px;
    margin-left: 40px;
    margin-top: -20px;
}
.text-h3-p-p-2 {
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: white;
    margin-left: 120px;
    margin-top: -4px;
}
.text-h3-p-p-2 h3 {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 13px;
}
.terre-des-2 {
    margin-top: 15px;
    font-size: 13px;
    margin-left: 15px;
}
.website-app-2 {
    margin-top: 15px;
    font-size: 11px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.505);
}
.text-h3-p-p-2 img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 10px;
}
.voir-le-2 {
    font-size: 13px;
    margin-left: 40px;
    margin-top: -20px;
}
.text-h3-p-p-3 {
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: white;
    margin-left: 70px;
    margin-top: -4px;
}
.text-h3-p-p-3 h3 {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 13px;
}
.terre-des-3 {
    margin-top: 15px;
    font-size: 13px;
    margin-left: 15px;
}
.website-app-3 {
    margin-top: 15px;
    font-size: 11px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.505); 
}
.text-h3-p-p-3 img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 10px;
}
.voir-le-3 {
    font-size: 13px;
    margin-left: 40px;
    margin-top: -20px;
}
.nos-projets-div {
    width: 200px;
    height: 50px;
    background-color: #FF7600;
    margin-left: 530px;
    position: relative;
    border-radius: 4px;
}
.nos-projets-div p {
    position: absolute;
    font-size: 14px;
    color: white;
    margin-left: 75px;
    margin-top: 20px;
    letter-spacing: 1px;
}
.nos-projets-div p::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: white;
    position: absolute;
    margin-left: -10px;
}
.white-ball {
    width: 15px;
    height: 15px;
    background-color:rgb(255, 81, 0);
    border-radius: 43%;
    position: absolute;
    border: 3.5px solid white;
    margin-left: 30px;
    margin-top: 20px;
}
.section3 {
    height: 500px;
    position: relative;
}
.nous-wrapper {
    width: 72%;
    display: inline-block;
    margin-top: 150px;
    position: relative;
}
.nous-contacter {
    display: inline-block;
    width: 17%;
    height: 300px;
    position: absolute;
    border: 1px solid white;
    margin-left: 40px;
}
.nous-contacter h3 {
    font-size: 10px;
    margin-left: 30px;
    letter-spacing: 1px;
    margin-top: 40px;
}
.phone-number {
    font-size: 11px;
    margin-left: 40px;
    margin-top: 50px;
    letter-spacing: 1px;
}
.phone-number-2 {
    font-size: 11px;
    margin-left: 40px;
    margin-top: 40px;
    letter-spacing: 1px;
}
.gmail-info {
    font-size: 11px;
    margin-left: 40px;
    margin-top: 40px;
    letter-spacing: 1px;
}
.nous-rencontrer {
    display: inline-block;
    width: 17%;
    height: 300px;
    position: absolute;
    margin-left: 193px;
    border: 1px solid white;
}
.nous-rencontrer h3 {
    font-size: 10px;
    margin-left:30px;
    letter-spacing: 1px;
    margin-top: 40px;
}
.impact-asbl {
    font-size: 9px;
    margin-left: 30px;
    margin-top: 55px;
    letter-spacing: 1px;
}
.chaussee {
    font-size: 9px;
    margin-left: 30px;
    margin-top: 35px;
    letter-spacing: 1px;
    position: absolute;
}
.ixelles {
    font-size: 9px;
    margin-left: 30px;
    margin-top: 90px;
    letter-spacing: 1px;
    position: absolute;
}
.nous-suivre {
    display: inline-block;
    width: 17%;
    height: 300px;
    position: absolute;
    margin-left: 346px;
    border: 1px solid white;
}
.nous-suivre h3 {
    font-size: 10px;
    margin-left: 45px;
    letter-spacing: 1px;
    margin-top: 40px;  
}
.facebook {
    margin-left: 45px;
    margin-top: 45px;
    font-size: 11px;
    letter-spacing: 1px;
}
.twitter {
    margin-left: 45px;
    margin-top: 45px;
    font-size: 11px;
    letter-spacing: 1px;
}
.vimeo {
    margin-left: 45px;
    margin-top: 45px;
    font-size: 11px;
    letter-spacing: 1px;
}
.naviguer {
    display: inline-block;
    width: 17%;
    height: 300px;
    position: absolute;
    margin-left: 500px;
    border: 1px solid white;
}
.naviguer h3 {
    font-size: 10px;
    margin-left: 45px;
    letter-spacing: 1px;
    margin-top: 40px;
}
.home {
    margin-left: 45px;
    margin-top: 45px;
    font-size: 11px;
    letter-spacing: 1px;
}
.projet {
    margin-left: 45px;
    margin-top: 45px;
    font-size: 11px;
    letter-spacing: 1px;
}
.equipe {
    margin-left: 45px;
    margin-top: 45px;
    font-size: 11px;
    letter-spacing: 1px;
}
.vision {
    margin-left: 45px;
    margin-top: 45px;
    font-size: 11px;
    letter-spacing: 1px;
}
.sinscribe-a-notre {
    width: 40%;
    display: inline-block;
    background-color: white;
    margin-top: 150px;
    height: 300px;
    position: absolute;
    margin-left: -250px;
}
.first-text {
    font-size: 12px;
    margin-top: 40px;
    margin-left: 80px;
    letter-spacing: 1px;
    font-weight: bold;
}
.second-text {
    font-size: 25px;
    margin-left: 80px;
    margin-top: 60px;
    letter-spacing: 1px;
    font-family: shako;
}
.login {
    margin-left: 80px;
    margin-top: 50px;
}
button {
    background-color: rgb(0, 72, 255);
    width: 35px;
    height: 30px;
    border: none;
    border-radius: 1px;
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
    margin-left: -5px;
    border-radius: 2px;
}
.login input {
    border: none;
    height: 30px;
    width: 200px;
    font-size: 11px;
}
.login input:hover {
    border: 1.5px solid rgb(0, 72, 255); ;
}
footer {
    background-color:#F7F7F7 ;
}
.footer-wrapper {
    position: relative;
    width: 100%;
}
.footer-logo {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    border: 10px solid black;
    margin-top: 20px;
    margin-left: 20px;
}
.footer-text {
    width: 80%;
    height: 50px;
    position: absolute;
    margin-left: 20%;
    margin-top: -40px;
}
.text-p-1 {
    font-size: 11px;
    text-align: left;
    margin-top: 20px;
    margin-left: -100px;
}
.text-p-2 {
    font-size: 11px;
    text-align: right;
}